<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reserva</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #6ec583;
            color: rgb(133, 127, 127);
        }
        .container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
        }
        .btn-submit {
            background-color: #6ec583;
            color: white;
        }
        .btn-submit:hover {
            background-color: #60a06e;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Formulario de Reserva</h1>
        <form>
            <div class="form-group">
                <label for="trabajador" class="label-trabajador">Acompañante:</label>
                <select class="form-control" id="trabajador">
                    <h5>{{comp}}</h5>
                    {% for companion in companions %}
                        <option value="{{ companion.idUser }}">{{ companion.names}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="tipo_contrato">Tipo de servicio:</label>
                <select class="form-control" id="tipo_contrato">
                    <option>Contrato 1</option>
                    <option>Contrato 2</option>
                    <option>Contrato 3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input type="date" class="form-control" id="fecha_inicio">
            </div>
            <div class="form-group">
                <label for="fecha_inicio">Hora del servicio:</label>
                <select class="form-select fs-3 text-center" name="time">
                    <option value="8:00">8:00</option>
                    <option value="9:00">9:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                    <option value="17:00">17:00</option>
                    <option value="18:00">18:00</option> 
                </select>    </div>
            <div class="form-group">
                <label for="descripcion">Necesidades específicas:</label>
                <textarea class="form-control" id="descripcion" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="tarifa">Tarifa del Contrato:</label>
                <input type="text" class="form-control" id="tarifa" placeholder="Ingrese la tarifa">
            </div>
            <button type="submit" class="btn btn-submit">Hacer Reserva</button>
        </form>
    </div>
</body>
</html>